/////////////////////////////////////
//LOGO

.logo {
  height: 4.7rem;
  margin-left: 2rem;
}

/////////////////////////////////////
//SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-2);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
//
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }
  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////////////
//USER NAVIGATION

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__user {
	visibility: hidden;
  }

  &__icon-box {
	// visibility: hidden;
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #ffffff;
  }

  &__user-name {
	  color: #fff;
  }

  &__identicon {
    height: 50px;
	width: 100px;
  }

//   &__notification {
//     font-size: 0.8rem;
//     height: 1.75;
//     width: 1.75rem;
//     border-radius: 100px;
//     background-color: var(--color-primary);
//     color: #fff;
//     position: absolute;
//     top: 1.5rem;
//     right: 1.1rem;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

/////////////////////////////////////
//LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: var(--color-primary);
  }
  img {
    height: 2vh;
    vertical-align: text-bottom;
  }
}

/////////////////////////////////////
//LOGIN FORM //
.login_form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:5rem 5rem;
  height:100%;
  width:100%;
  background:#1e413b;
  box-shadow: 0px 0px 30px 10px RGBA(0,0,0,0.4);

	&__header {
    color: white;
    letter-spacing: 3px;
    font-size: 6em;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid white;
    line-height: 1.7;
    text-transform: uppercase;
  }
  
  &__select {
    font-family: inherit;
    font-size: 1.25rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    margin:1rem;
    border-radius: 100px;
    width: 40%;
    height: 50;
    transition: all 0.2s;
    line-height: 4rem;
  }

  &__select-selected {
    background-color: dodgerblue;
  }

  &__container{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    // background-color: #dbe5e3;

  }
  &__input{
    // background-image: url("/img/favicon-16x16.png");
    // background-position: 7px 7px;
    // background-repeat: no-repeat;
    font-family: inherit;
    font-size: 1.25rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    margin:1rem;
    border-radius: 100px;
    width: 40%;
    transition: all 0.2s;
    line-height: 4rem;
  }
  &__text_area{
    width:100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    font-size: 2.25rem;
    text-transform: uppercase;
  }
  &__button_row{
    width:40%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly ;
  }
  &__button{
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-grey-light-3);
    flex-grow:1;
    height:4rem;
    border:none;
    margin:1rem;
    background:var(  --color-primary);
    // border-radius: 80px;
  }
}

input[type=button] {
  background-color: var(  --color-primary-light);
  border: 1px solid #fff; 
  text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    
}

input[type=button]:hover {
  border: white;
  background-color: var(--color-primary-dark);
  color: green; 
}

/////////////////////////////////////
//WALLET OVERVIEW

.page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //   align-items: center;
  justify-content: flex-start;
  &__subtitle {
    font-size: 2em;
  }
  &__recipients {
    width: 100%;
    height: 80vh;
  }
  &__tools {
    width: 100%;
    height: 20vh;
  }
  &__transactions {
    height: 80vh;
  }
  &__transactionCard {
    border-radius: 1px black;
  }
  &__tools {
    padding: 2rem;
    background-color: black;
  }
  &__tools-parent {
    width: 100%;
    height: 20%;  
  }
  &__payTo-title {
    font-size: 2em;
  }
  &__payTo-entry {
    color: green;
  }
}

.overview {
  display: flex;
  //   align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-grey-light-2);
  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5rem 3rem;
  }
  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__not_implemented {
    display:flex;
    white-space: pre;
    justify-content: center;
    align-items:center;
    height:100%;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__identicon{
    width:80px;
    height:80px;
  }

  &__identicon > canvas{
    background:rgba(0, 0, 0, 0.4);
  }

  &__info {
    display: flex;
    font-weight: 300;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__name {
    font-size: 1.25rem;
  }

  &__transID {
    display:flex;
    font-size:1.25rem;
    justify-self: flex-start;
  }

  &__identicon {
    background-color: var(--color-primary);
    color: #fff;
    align-self: stretch;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-right:.5rem;
  }

  &__day {
    margin-top: -7px;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  &__icon-location {
    margin-right: 0.5rem;
  }
  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }
  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}



/////////////////////////////////////
//BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/////////////////////////////////////
//ACCOUNT

.account {
  &__item {
    // background-color: red;

    height: 6rem;
    border-left: 1px solid var(--color-grey-dark-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  &__title {
    // font-size: 2.25rem;
    font-weight: 300;
    padding-left: 2rem;

    display: flex;
    flex-direction: column;

    // text-transform: uppercase;
    // letter-spacing: 1px;
    // padding: 1.5rem 3rem;
  }
  &__balance {
    padding-left: 3rem;
    color: var(--color-primary);
  }
}

/////////////////////////////////////
//Overview
