.container {
  //max-width: 120rem;
  // background-color: var(--color-grey-light-2);
  // box-shadow: var(--shadow-dark);
}

.header {
  font-size: 1.4rem;
  height: 8vh;
  min-height:8rem;
  // background: #1D4F44;
  background-color: hsla(0, 100%, 100%, 0.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // background-color: #fff;
  // border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  background-image: linear-gradient(180deg, transparent,  #1D4F44), linear-gradient(180deg, transparent,  #1D4F44);
  background-blend-mode: soft-light;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sidebar {
  background-color: hsla(0, 100%, 100%, 0.1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 30px;
}

.main-view {
  background-color: hsla(0, 100%, 100%, 0.1);
  height: 84vh;
  flex: 2.5;
  border-bottom-right-radius: 30px;
}

.account{
    flex:1;
}
